In [17]:
import pandas as pd

In [18]:
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/'
url = f'{prefix}taxi_zone_lookup.csv'
url

'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv'

In [19]:
dtype = {
    "LocationID": "Int64",
    "Borough": "string",
    "Zone": "string",
    "service_zone": "string",
}

In [20]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [21]:
df_iter = pd.read_csv(
    url,
    dtype=dtype,
    iterator=True,
    chunksize=100000,
)

In [22]:
first_chunk = next(df_iter)

first_chunk.head(0).to_sql(
    name="taxi_zone_data",
    con=engine,
    if_exists="replace"
)

print("Table created")

first_chunk.to_sql(
    name="taxi_zone_data",
    con=engine,
    if_exists="append"
)

print("Inserted first chunk:", len(first_chunk))

from tqdm.auto import tqdm

for df_chunk in tqdm(df_iter):
    df_chunk.to_sql(
        name="taxi_zone_data",
        con=engine,
        if_exists="append"
    )
    print("Inserted chunk:", len(df_chunk))

Table created
Inserted first chunk: 265

0it [00:00, ?it/s]